/* styles.css */
body{
    background-image: url("img/encriptar_1.jpg");
}

header {
    width: 100%;
    height: 100px;
}

main {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.seccion1 {
    margin-left: 4%;
    margin-bottom: 50px;
    width: calc(50% - 8%);
}


.seccion1 .contenedor-texto #texto_entrada {
  
    font-weight: bold;
    border-radius: 20px;
   
    width: calc(100% - 20px);
    padding: 10px;
    resize: vertical;
    opacity: 30%;
    border: none;
}

.btns {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn {
    border-radius: 8px;
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #063466;
    color: #fff;
    border: none;
    cursor: pointer;
    opacity: 80%;
}
::placeholder{
    color: rgb(11, 5, 57);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}
.seccion2 {
    margin-right: 4%;
    margin-bottom: 30px;
    width: calc(50% - 8%);
}

.seccion2 .contenedor-salida #texto_salida {
    border-radius: 20px;
    border: 1px solid #ccc;
    width: calc(100% - 20px);
    padding: 10px;
    resize: vertical;
    opacity: 30%;
    
}

.btn-copiar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}

footer {
    
    font-size: x-large;
    font-weight: bold;
    padding-top: 20px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

