/* styles.css */
body{
   background-image: url("img/eiYxD9b.jpg");
}

header {
    width: 100%;
    height: 100px;
   
}

main {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


::placeholder{
    color: rgb(11, 5, 57);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    
}

.seccion1 {
    margin-left: 4%;
    margin-bottom: 50px;
    width: calc(50% - 8%);
}
p{
    
    color: aliceblue;
    font-size: x-large;
    margin-bottom: 3px;
}

#texto_entrada{
    
    opacity: 30%;
    font-size: xx-large;
    resize: none;
    
}

.seccion1 .contenedor-texto #texto_entrada {
  
    font-weight: bolder;
    border-radius: 20px;
    width: calc(100% - 20px);
    padding: 10px;
    color: black;
    border: none;
}

.btns {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn {
    border-radius: 8px;
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #063466;
    color: #fff;
    border: none;
    cursor: pointer;
    opacity: 80%;
}

.seccion2 {
    margin-top: 25px;
    margin-right: 4%;
    margin-bottom: 30px;
    width: calc(50% - 8%);
}
#texto_salida{
    font-weight: bolder;
    opacity: 30%;
}

.seccion2 .contenedor-salida #texto_salida {
    border-radius: 20px;
    border: 1px solid #ccc;
    width: calc(100% - 20px);
    padding: 10px;
    resize: none;
    font-size: xx-large
  
    
}

.btn-copiar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}

footer {
   color: #ccc;
    font-size: x-large;
    font-weight: bold;
    padding-top: 20px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

